[submodule "End-to-end-Machine-Learning-Project-with-MLflow"]
	path = End-to-end-Machine-Learning-Project-with-MLflow
	url = https://github.com/Dhach123/End-to-end-Machine-Learning-Project-with-MLflow.git
